{% extends "base.html" %}
{% load static %}

{% block content %}
<img src="{% static 'media/images/images.jpeg' %}" alt="Nice!">

  <h1>Welcome to Chocolate Store!</h1>
  <ul>
    {% for product in object_list %}
      <li>
        {{ product.title }} ({{ product.price }}) : {{ product.description }} /
        <a href="{% url 'product_detail' product.id %}">
          Detail
        </a>
        {% if user.is_authenticated %} /
        <a href="{% url 'product_update' product.id %}">
          update
        </a> /
        <a href="{% url 'product_delete' product.id %}">
          Delete
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}