h1{
color: black;
text-align:center;
text-shadow: 1px 1px 2px;
}
/*
img {
    vertical-align: middle;
    border-style: none;
    border: solid 1px white;
    border-radius: 4px;
    box-shadow: 2px 2px 10px;
    transition: all .2s;
    display : block;
    color: black;
    margin-left : auto;
    margin-right: auto;
    height: 450px;
    padding: 100px 0 0 0;
    object-fit:cover;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/
img {
    border-style: none;
    border: solid 1px white;
    border-radius: 4px;
    box-shadow: 2px 2px 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-height: 450px;
}
.center-container {
    text-align: center;
}

.product-title{
color:yellow;
margin-top : 20px;
}

img:hover {
    transform: scale(1.1);
}

.nav-item.nav-link{
margin-left:10px;
border-bottom:solid 1px transparent;
transition:all .5s;
}

.nav-item.nav-link:hover{
color:yellow!important;
border-bottom:solid 1px yellow!important;
}

body{
  background: url("static/img/action.jpg");
  color: black;
  height: 950px;
  padding: 100px 0 0 0;
}